body {
}

.masterPage
{
  width: 100%;
}

.masterPageleft
{
  width: 15px;  
  vertical-align: middle;
  text-align: center;   
    
}
.masterPagecenter
{
    width: 228px;
    
    vertical-align: top;
    text-align: left;
}
.masterPagecenter2
{
   
    vertical-align: top;
    text-align: left;
}

.masterPageright
{
    width: 496px;
    vertical-align: top;
    text-align: left;
   
}
.callID tb
{
  height: 22px;
  width: 250px;
}

/*CollapsiblePanel*/
.collapsePanel
{
    background-color: #E9E9E9;
    overflow: hidden;
    width: 600px;
}

.collapsePanelHeader
{
    width: 600px;
    height: 30px;
    background-image: url('../img/bg-menu-main.png');
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-weight: bold;
}

/* Content Page Layout */
.demoarea {
	padding:20px;
	background:#FFF url(../img/demotop.png) no-repeat left top;
}

.demoarea p 
{
	padding:5px;
}

.demoheading {
	padding-bottom:20px;
	color:#5377A9;
	font-family:Arial, Sans-Serif;
	font-weight:bold;
	font-size:1.5em;
}

.demobottom {
	height:8px;
	background:#FFF url(../img/demobottom.png) no-repeat left bottom;
}
.tooltip {
			border-bottom: 1px dotted #000000; color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
		}
.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
.tooltip:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 1em; top: 2em; z-index: 99;
			margin-left: 0; width: 700px;
		}
.tooltip:hover img {
			border: 0; margin: -10px 0 0 -55px;
			float: left; position: absolute;
		}
.tooltip:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }