
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Expires" content="-1">
        <title>
            Отправить e-mail
        </title>
        <link href="~/resources/css/pattern.css" rel="stylesheet" type="text/css">
        <script src="~/resources/js/pattern.js" type="text/javascript"></script>
        <link href="~/Content/Custom/style.css" rel="stylesheet" type="text/css">
        <script src="~/resources/jquery/jquery-1.9.1.js" type="text/javascript"></script>

        <style type="text/css">
            .style1 {
                width: 100%;
            }

            .style3 {
                height: 27px;
            }

            .style4 {
                height: 157px;
            }

            .style5 {
                width: 231px;
            }

            .style6 {
                height: 22px;
                width: 231px;
            }

            .style7 {
                height: 157px;
                width: 231px;
            }

            .style8 {
                height: 32px;
                width: 231px;
            }

            .style9 {
                height: 32px;
            }

            .style10 {
                height: 34px;
                width: 231px;
            }

            .style11 {
                height: 34px;
            }

            .style12 {
                height: 30px;
                width: 231px;
            }

            .style13 {
                height: 30px;
            }

            .style14 {
                height: 27px;
                width: 231px;
            }
        </style>

    </head>
    <body>
        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUJOTM0MDcxODcxD2QWAgIDD2QWAgIDDw8WAh4EVGV4dAUcRGVuaXMuQm9sZHlyZXZAYWt6b25vYmVsLmNvbWRkGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYBBRFjaEJveFBlcnNvbmFsRGF0YeqSVVqr3F1OIjPQ4NZ6j/WfXZJpzASRmlzyz22tWJYU">
        </div>

        <div class="aspNetHidden">

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="C1E4BCF9">
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdADb0GV4CyRu4p50xZr6ia+ULy1u4+ZRUdUe+YtUIKhn90cHD1tR2f4mYqZMU7mVXnsxdvbO57Q+11rrDdrEDXHxBXRok+7ZvAHN8Fpo08p5B1RlspzYqYqYKIj2wsXtcY3JYSoHzy5xG6UJLENts+xnxyAP4GbWwdDn/E63ngWllUiJ3+9Cn8GhEhLgh39VDT7swrIoq4r+jiVDMI9k891Fp/NCKMpXmXsYjpUmOnFQtH8trQUgJVOnJoe/ycGTonYGhLJRv/6smJN6iVEjDofSsyHA7jxW3sioCuOX17GMMwhO//0e31+zKBDNV2z8e+wWEZSvpatFse+93HuzY+CPQnIepUSitK881CpttogANO3gxkpd3hTzar7xr6qIuUOv14ME1RxEDpUpjdEzDYRhR+TtKGEYzwbTEW+AXhc7cv7CI7D/pD76tn6745IHxfPIiBSGt1rap1CDfpExoSCGRqbSnIiKSPakor/iXRRK5pVc0UqHlycBrtROyNZ/hQXQkQN/mM46HnSLS3PB/qXruamL6BEH9OdxcAT2tSmiHOlwwNaDlN8Qogzzg8+U5WnVyAXfTw8784ShZPGBRxNJ+jzvf9o3UueXmhqsPgKHN3lrFZ9L9vthTH7sYZAhJs/SL58tO9pQhgs477Qy54sk+A7go5/E9jtnT7eTHAtt0xM4b3G2pjd3Jz6zEcfplxZvZargBX3bg51HXTQs4AwVdI/DVbUXot6bBlh4UjXeitFarGJgMwa8szVVagQoq8b0WXJviXYsGcOEPFP0kYi6dQ/V4FPhlcSc9LLYWO4t3SYlr7UOGIWOVzXZlCAvb4GEvABJLBYFYCmN2GaWJkxNJTTDY/P/vjrKP7D4GyTEmWtTPE59pAS6p6M3EmXtb4n96AQCuKzigrPpdgmjgjpwhX8yklYnNNY90R1TkyHnaryaBK5aDCybcN9oxjBeI0+KmCILXXdAd2VzN4bOk9DaAqUaGo5g0fGQTVzGS2d+PSPq545GlML52cp0OHhxRln6fjA8IRF6HTmX63JupHNqHrV8malx2Iw9OQVMvig5lvVROtxVDp6ynuIOmyitigTarixPaTv3fPBf3wVvUPnr7Ep6Qm6qqBgGb8BmZ9HFEDvjrd+6AhBFz9xIwRXGyYSiErQ3ExZm00t1ZaocsWml9owyh/j1L9FURrdC4/apBfw==">
        </div>
        <div>


            <table cellpadding="0" cellspacing="0" class="style1">
                <tbody>

                    <tr>
                        <td colspan="2">Консультант: «Для того, что бы я смог(ла) оставить сообщение о Вашем звонке, уточните, пожалуйста, согласны ли Вы предоставить свои персональные данные, а именно, фамилию , имя и номер контактного телефона»</td>
                    </tr>
                    <tr>
                        <td>Персональные данные:</td>
                        <td>
                            <input id="IsCancel" name="IsCancel" type="checkbox"><label for="IsCancel">Отметить</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="style5">
                            Кому:
                        </td>
                        <td>
                            <b><span id="Address" name="Address">@ViewBag.Email</span></b>
                        </td>
                    </tr>
                    <tr>
                        <td class="style5">
                            Тема:
                        </td>
                        <td>
                            <b>Reception AKZO NOBEL</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="style14">
                            ФИО:
                        </td>
                        <td class="style3">

                            <select id="Fio" name="Fio" class="style6" style="width:98%;">
                                <option value="Выбрать">Выбрать</option>
                                <option value="Gabriella Mofer">Gabriella Mofer</option>
                                <option value="Silvia Udvardi">Silvia Udvardi</option>
                                <option value="Stefan Groot">Stefan Groot</option>
                                <option value="Mark Allen">Mark Allen</option>
                                <option value="Ivailo Atanasov">Ivailo Atanasov</option>
                                <option value="Hans Opgarnoot">Hans Opgarnoot</option>
                                <option value="Richard Vali">Richard Vali</option>
                                <option value="Hans Aldenhoven">Hans Aldenhoven</option>
                                <option value="Gabriele Camorani">Gabriele Camorani</option>
                                <option value="Simon Parker">Simon Parker</option>
                                <option value="Peter Otway">Peter Otway</option>
                                <option value="Otto Lenhart">Otto Lenhart</option>
                                <option value="Marjan Ondeman">Marjan Ondeman</option>
                                <option value="Rob Frohn">Rob Frohn</option>
                                <option value="Ellis Bolding">Ellis Bolding</option>
                                <option value="Monique Beersma">Monique Beersma</option>
                                <option value="Nils van der Plas">Nils van der Plas</option>
                                <option value="Nelleke van Have">Nelleke van Have</option>
                                <option value="Hans Wijers">Hans Wijers</option>

                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="style12">
                            ФИО (если нет в списке):
                        </td>
                        <td class="style13">

                            <input type="text" id="FioTxt" name="FioTxt" class="style6" style="border-color:#CCCCCC;border-width:1px;border-style:Solid;width:98%;">
                        </td>
                    </tr>

                    <tr>
                        <td class="style12">
                            Компания:
                        </td>
                        <td class="style13">

                            <select name="Company" id="Company" class="style6" style="width:98%;">
                                <option value="Выбрать">Выбрать</option>
                                <option value="Reckitt Benckiser Russia">Reckitt Benckiser Russia</option>
                                <option value="Zenteum">Zenteum</option>
                                <option value="ML 21">ML 21</option>
                                <option value="Химресурс">Химресурс</option>
                                <option value="Булгархиминвест">Булгархиминвест</option>
                                <option value="Опытный завод &quot; Нефтехим&quot;">Опытный завод " Нефтехим"</option>
                                <option value="Союзснаб">Союзснаб</option>
                                <option value="Мега-Трейд">Мега-Трейд</option>
                                <option value="АмфоХем (Беларусь)">АмфоХем (Беларусь)</option>
                                <option value="Реактив (ЛенРеактив)">Реактив (ЛенРеактив)</option>
                                <option value="Веллхим">Веллхим</option>
                                <option value="БелИНЕКО">БелИНЕКО</option>
                                <option value="ХимЭкспо">ХимЭкспо</option>
                                <option value="ДеЛюкс">ДеЛюкс</option>
                                <option value="CJSC InComPro">CJSC InComPro</option>
                                <option value="Unifol">Unifol</option>
                                <option value="KTK">KTK</option>
                                <option value="ПромДорРесурс">ПромДорРесурс</option>
                                <option value="Темп">Темп</option>
                                <option value="ЗАО Тубекс">ЗАО Тубекс</option>
                                <option value="Завод ТОКК">Завод ТОКК</option>
                                <option value="Crown Cork Kuban">Crown Cork Kuban</option>
                                <option value="Логист-Сервис">Логист-Сервис</option>
                                <option value="Nitek">Nitek</option>
                                <option value="ЗАО Алкоа">ЗАО Алкоа</option>

                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="style10">
                            Компания (если нет в списке):
                        </td>
                        <td class="style11">

                            <input name="CompanyTxt" type="text" id="CompanyTxt" class="style6" style="border-color:#CCCCCC;border-width:1px;border-style:Solid;width:98%;">
                        </td>
                    </tr>

                    <tr>
                        <td class="style8">
                            Контактный телефон:
                        </td>
                        <td class="style9">

                            <input name="Phone" type="text" id="Phone" class="style6" style="border-color:#CCCCCC;border-width:1px;border-style:Solid;width:98%;">
                        </td>
                    </tr>

                    <tr>
                        <td class="style7">
                            Текст сообщения:
                        </td>
                        <td class="style4">

                            <textarea name="Message" rows="2" cols="20" id="Message" style="border-color:#CCCCCC;border-width:1px;border-style:Solid;height:157px;width:98%;">Вам звонили </textarea>
                        </td>
                    </tr>

                    <tr>
                        <td class="style5"></td>
                        <td>
                            <br> <br>
                            <input type="submit" name="btnSend" value="Отправить" onclick="javascript:go();" id="btnSend" class="button">

                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <input type="submit" name="btnCancel" value="Отмена" onclick="javascript:go();" id="btnCancel" class="button">

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <script>
            $("#btnSend").click(function () {
                var IsCancel = $("#IsCancel").prop("checked");
                var Address = $("#Address").val();
                var Fio = $("#Fio").val();
                var FioTxt = $("#FioTxt").val();
                var Company = $("#Company").val();
                var CompanyTxt = $("#CompanyTxt").val();
                var Phone = $("#Phone").val();
                var Message = $("#Message").val();
                $.ajax({
                    contentType: 'application/json',
                    type: "POST",
                    url: '@Url.Action("EmailSend", "Home", new { Area = ""})',
                    data: JSON.stringify({
                        IsCancel: IsCancel,
                        Address: Address,
                        Fio: Fio,
                        FioTxt: FioTxt,
                        Company: Company,
                        CompanyTxt: CompanyTxt,
                        Phone: Phone,
                        Message: Message
                    })
                });
            });
        </script>
    </body>
</html>