<div>
    <span id="lbl_sQuestion">
        <p>
            <span style="font-size:14px;"><span style="font-family: tahoma,geneva,sans-serif;">Представительство «Акзо Нобель»,<strong>@Session["operator"]</strong>, здравствуйте !</span></span>
        </p>
    </span>
</div>