<form method="post" action="http://klfappiiscl01.te-ex.ru:89/akzonobel/result.aspx?error=1" id="aspnetForm">
    <div class="aspNetHidden">
        <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
        <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTQ1OTgzOTg4NQ9kFgJmD2QWAgIDD2QWAgIHD2QWAgIBD2QWAgICDw8WAh4HVmlzaWJsZWhkZGQO6FxmimxXrxmy8aKRytkZyc26EWSWi8nss3m4BPpVDQ==">
    </div>
    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="90A7B79B">
        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAKcmj1LrLX3B2TD0K8vdJS9d1eysCTiYDFSkySbAfrfEwxY3Oac6vsrMiiSaU5iMAxoxyQUSo8FjtR21k5G6l57">
    </div>
    <div>
        <br>
        <table class="masterPage">
            <tbody>
                <tr>
                    <td class="masterPageleft">
                        &nbsp;
                    </td>
                    <td class="masterPagecenter">

                        <br>
                        <img id="ctl00_cphLogo_Image1" src="~/img/akzonobel.gif">
                        <br>
                        <br>  <a id="aBase" href="http://10.77.9.26/akzo/default.aspx" target="_blank" style="color: #000000">База знаний</a>
                        <br>  <a id="aBase2" href="http://www.akzonobel.com/ru/" target="_blank" style="color: #000000">Сайт компания AkzoNobel Россия</a>
                        <br> <b>E-mail:</b> info.moscow@akzonobel.com
                        <br> <b>Факс:</b> 960 28 82, телефон: (495) 960 28 90
                        <br> <b>Адрес компании:</b> 125445, г. Москва, ул.Смольная, д.24Д (коммерческая башня "Меридиан", 4 этаж), м. Речной вокзал


                    </td>
                    <td colspan="2" class="masterPageright"></td>
                </tr>
            </tbody>
        </table>

        <br>


        <h1>
            <span id="ctl00_SheetCPH_result_lbl_goodGreen" class="goodGreen">Данные сохранены успешно. <br> Ожидайте следующего звонка.</span>

            <br><br>
        </h1>


        <br>

        <span style="display: none;">
            <input name="ctl00$tbinsert" type="text" id="ctl00_tbinsert">
        </span>
    </div>
</form>